<% if @current_user.id == @blog_UID %>
    <%= button_to "Edit blog", edit_blog_post_path(@blog_post), method: :get, class: "joes_button", style: "margin-top: 50px;" if user_signed_in? %>
<% end %>

<div style="text-align: center;display: flex;justify-content: center;flex-direction: column;align-content: center;flex-wrap: wrap;">
    <h1><%= @blog_post.title %></h1>

    <h3><%= @blog_post.content %></h3>
</div>

<div class="rounded-md <%=blog_post_colour(@blog_post, current_page?(blog_post_path), @current_user)%>">
    <h4 class="<%=blog_post_colour(@blog_post, current_page?(blog_post_path), @current_user)%>">
        <%= !@blog_post.draft? ? !@blog_post.scheduled? ? "Published at: "+ @blog_post.published_at.to_s : "Scheduled for: "+ @blog_post.published_at.to_s : "Draft" %>
        <% if @blog_post.draft? %>
            <%= button_to "Delete", @blog_post, method: :delete, data: {turbo_confirm: "Are you sure?"}, class: "joes_button_red" %>
        <% end %>
        <p>
            Public: <%= @blog_post.public %>
        </p>
        <p>
            By: <%= @username %>
        </p>
    </h4>
</div>

